In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('yellow-tripdata-2025-01.csv', nrows=100)

In [4]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,2,2025-01-12 18:12:29.000000,2025-01-12 18:32:07.000000,2,1.07,1,N,100,163,1,16.3,0.00,0.5,4.21,0.0,1,25.26,2.5,0.0,0.75
1,2,2025-01-12 18:32:40.000000,2025-01-12 18:41:11.000000,1,1.21,1,N,163,68,1,9.3,0.00,0.5,2.81,0.0,1,16.86,2.5,0.0,0.75
2,1,2025-01-12 18:01:34.000000,2025-01-12 18:15:35.000000,3,2.00,1,N,164,237,1,14.2,3.25,0.5,3.75,0.0,1,22.70,2.5,0.0,0.75
3,1,2025-01-12 18:36:05.000000,2025-01-12 18:49:45.000000,3,2.30,1,N,90,148,1,14.9,3.25,0.5,4.90,0.0,1,24.55,2.5,0.0,0.75
4,1,2025-01-12 18:51:39.000000,2025-01-12 19:14:16.000000,2,3.50,1,N,148,230,1,21.9,3.25,0.5,5.30,0.0,1,31.95,2.5,0.0,0.75

In [6]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [8]:
from sqlalchemy import create_engine

In [10]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [13]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge BIGINT,
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53),
	cbd_congestion_fee FLOAT(53)
)

In [14]:
df_iter = pd.read_csv('yellow-tripdata-2025-01.csv', iterator=True, chunksize=100000)

In [15]:
df = next(df_iter)

In [16]:
len(df)

100000

In [17]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [18]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace') # creates empty table

0

In [19]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 8 s, sys: 128 ms, total: 8.13 s
Wall time: 11.8 s

1000

In [20]:
from time import time

In [21]:
count = 1
while True:
    t_start = time()
    
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print(f'chunk {count} inserted in {t_end - t_start} seconds')

    count += 1

chunk 1 inserted in 11.661508083343506 seconds
chunk 2 inserted in 12.02303671836853 seconds
chunk 3 inserted in 12.312861204147339 seconds
chunk 4 inserted in 12.826342582702637 seconds
chunk 5 inserted in 12.818685531616211 seconds
chunk 6 inserted in 12.167701005935669 seconds
chunk 7 inserted in 12.340593099594116 seconds
chunk 8 inserted in 12.668075561523438 seconds
chunk 9 inserted in 12.111002922058105 seconds
chunk 10 inserted in 12.735446214675903 seconds
chunk 11 inserted in 12.022375106811523 seconds
chunk 12 inserted in 12.828838348388672 seconds
chunk 13 inserted in 11.989121198654175 seconds
chunk 14 inserted in 12.409011363983154 seconds
chunk 15 inserted in 12.593745946884155 seconds
chunk 16 inserted in 11.989005327224731 seconds
chunk 17 inserted in 12.546725034713745 seconds
chunk 18 inserted in 12.74513053894043 seconds
chunk 19 inserted in 12.643222093582153 seconds
chunk 20 inserted in 13.505428552627563 seconds
chunk 21 inserted in 12.150951862335205 seconds
chunk 22 inserted in 12.81331491470337 seconds
chunk 23 inserted in 12.00399923324585 seconds
chunk 24 inserted in 11.764673233032227 seconds

/tmp/ipykernel_42072/2630890680.py:5: DtypeWarning: Columns (3,5,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

DataError: (psycopg2.errors.InvalidTextRepresentation) invalid input syntax for type bigint: "\N"
LINE 1: ...04'::timestamp, '2025-01-17T18:19:55'::timestamp, '\N', 0.0,...
                                                             ^

[SQL: INSERT INTO yellow_taxi_data (index, "VendorID", tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, "RatecodeID", store_and_fwd_flag, "PULocationID", "DOLocationID", payment_type, fare_amount, extra, mta_tax, tip_amount, tol ... 503700 characters truncated ... tal_amount__999)s, %(congestion_surcharge__999)s, %(Airport_fee__999)s, %(cbd_congestion_fee__999)s)]
[parameters: {'VendorID__0': 2, 'DOLocationID__0': 144, 'tpep_dropoff_datetime__0': datetime.datetime(2025, 1, 28, 14, 12, 38), 'improvement_surcharge__0': 1.0, 'congestion_surcharge__0': '2.5', 'tip_amount__0': 3.93, 'trip_distance__0': 1.71, 'store_and_fwd_flag__0': 'N', 'tolls_amount__0': 0.0, 'total_amount__0': 23.58, 'PULocationID__0': 234, 'tpep_pickup_datetime__0': datetime.datetime(2025, 1, 28, 13, 57, 3), 'RatecodeID__0': '1', 'extra__0': 0.0, 'mta_tax__0': 0.5, 'Airport_fee__0': '0', 'passenger_count__0': '1', 'index__0': 2555000, 'cbd_congestion_fee__0': 0.75, 'payment_type__0': 1, 'fare_amount__0': 14.9, 'VendorID__1': 2, 'DOLocationID__1': 230, 'tpep_dropoff_datetime__1': datetime.datetime(2025, 1, 28, 14, 16, 55), 'improvement_surcharge__1': 1.0, 'congestion_surcharge__1': '2.5', 'tip_amount__1': 4.35, 'trip_distance__1': 1.3, 'store_and_fwd_flag__1': 'N', 'tolls_amount__1': 0.0, 'total_amount__1': 26.1, 'PULocationID__1': 234, 'tpep_pickup_datetime__1': datetime.datetime(2025, 1, 28, 13, 58, 3), 'RatecodeID__1': '1', 'extra__1': 0.0, 'mta_tax__1': 0.5, 'Airport_fee__1': '0', 'passenger_count__1': '1', 'index__1': 2555001, 'cbd_congestion_fee__1': 0.75, 'payment_type__1': 1, 'fare_amount__1': 17.0, 'VendorID__2': 1, 'DOLocationID__2': 166, 'tpep_dropoff_datetime__2': datetime.datetime(2025, 1, 28, 13, 34, 11), 'improvement_surcharge__2': 1.0, 'congestion_surcharge__2': '2.5', 'tip_amount__2': 2.4, 'trip_distance__2': 1.4, 'store_and_fwd_flag__2': 'N' ... 20900 parameters truncated ... 'extra__997': 0.0, 'mta_tax__997': 0.5, 'Airport_fee__997': '\\N', 'passenger_count__997': '\\N', 'index__997': 2555997, 'cbd_congestion_fee__997': 0.75, 'payment_type__997': 0, 'fare_amount__997': 23.22, 'VendorID__998': 2, 'DOLocationID__998': 234, 'tpep_dropoff_datetime__998': datetime.datetime(2025, 1, 17, 19, 37, 11), 'improvement_surcharge__998': 1.0, 'congestion_surcharge__998': '\\N', 'tip_amount__998': 0.0, 'trip_distance__998': 1.42, 'store_and_fwd_flag__998': '\\N', 'tolls_amount__998': 0.0, 'total_amount__998': 3.13, 'PULocationID__998': 246, 'tpep_pickup_datetime__998': datetime.datetime(2025, 1, 17, 19, 25, 27), 'RatecodeID__998': '\\N', 'extra__998': 0.0, 'mta_tax__998': 0.5, 'Airport_fee__998': '\\N', 'passenger_count__998': '\\N', 'index__998': 2555998, 'cbd_congestion_fee__998': 0.75, 'payment_type__998': 0, 'fare_amount__998': -4.75, 'VendorID__999': 2, 'DOLocationID__999': 246, 'tpep_dropoff_datetime__999': datetime.datetime(2025, 1, 17, 19, 19, 49), 'improvement_surcharge__999': 1.0, 'congestion_surcharge__999': '\\N', 'tip_amount__999': 0.0, 'trip_distance__999': 0.85, 'store_and_fwd_flag__999': '\\N', 'tolls_amount__999': 0.0, 'total_amount__999': 13.46, 'PULocationID__999': 246, 'tpep_pickup_datetime__999': datetime.datetime(2025, 1, 17, 19, 14, 43), 'RatecodeID__999': '\\N', 'extra__999': 0.0, 'mta_tax__999': 0.5, 'Airport_fee__999': '\\N', 'passenger_count__999': '\\N', 'index__999': 2555999, 'cbd_congestion_fee__999': 0.75, 'payment_type__999': 0, 'fare_amount__999': 8.71}]
(Background on this error at: https://sqlalche.me/e/20/9h9h)